html {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:120%;
}

ul {
    width: 5%;
    margin: auto;
}

.about {
    margin-left:30%;
    margin-right:30%;

}

.link {
    padding:10px;
    text-decoration:none;
}

a:visited {
      color: blue;
}

.text{
    margin-left:10%;
    margin-right:10%;
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}


#av{
    height: 25%; 
    width: 25%;
}

.small{
    text-align: center;
}

