html {
    text-align: center;
        font-family: 'Roboto', sans-serif;
    font-size:120%;
}

ul {
    width: 5%;
    margin: auto;
}

.about {
    margin-left:30%;
    margin-right:30%;

}

.link {
    padding:10px;
    text-decoration:none;
}

a:visited {
      color: blue;
}

.content {
    display:flex;
}

.text{
    font-size:130%;
    padding-right: 10%;
    padding-left: 10%;

}

.content img {
    margin-right:10px;
    display:block;
}

#av{
    height: auto; 
    width: 25%;
}


